@import "src/styles/variables";

.input {
  text-transform: uppercase;
  width: 180px;
  height: 37px;
  left: 233px;
  top: 192px;
  border: 0.5px solid black;
  text-align: center; 


  &-container {
    padding-bottom: 1rem;
  }

  &-label {
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 1.65px;
    padding-bottom: .5rem;
    border-radius: 0px;
  }

  &-error {
    color: $red;
    padding-top: .5rem;
  }
}
